*{
    margin:0;
    padding:0;
}

img {
    width: 474px;
    height: 266px;
}

.noelle{
    width: 392px;
    height: 392px;
}

h1 {
    background-color: rgb(30, 90, 72);
}


body{
    background-color: rgb(81, 136, 81);
}

p{
    color: white;
}
